<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Relecloud Galaxy Tours</title>
    <link rel="stylesheet" href="./assets/styles.css" />
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div class="nav-bar"></div>
    <h1>Relecloud Galaxy Tours</h1>

    <div id="app">
        <h2>{{ productName }}</h2>
        <div>{{ productDescription }}</div>
        <hr />

        <!-- TODO: Add code to display classes -->
        <div v-for="(productClass, index) in productClasses" :key="index" class="row">
            <div class="colum">
                <div v-if="new Date().getMonth() < 3">It is the first quarter</div>
                <div v-else-if="new Date().getMonth() < 6">It is the second quarter</div>
                <div v-else-if="new Date().getMonth() < 9">It is the third quarter</div>
                <div v-else>It is the fourth quarter</div>
            </div>
            <div class="colum">
                {{ productClass.name }}
            </div>
            <div class="colum">
                $ {{ productClass.price.toLocaleString('en-Us') }}
            </div>
        </div>

        <img v-bind:src="productImage" v-bind:alt="productImageDescription" :style="productImageStyle" />
    </div>

    <script src="./index.js"></script>
    <script>
        app.mount('#app');
    </script>
</body>

</html>